body{
	background-image: url(../img/fondo1.png);
	background-attachment: repeat ;
	box-sizing: border-box;
}
$mainColor-50: rgba(170,173,175,0.5);
$mainColor-25: rgba(170,173,175,0.25);
$mainColor-75: rgba(170,173,175,0.75);
$mainColor-100: rgba(170,173,175,1);
$black-50: rbga(0,0,0,1);


$w-100: 100%;
$w-90: 90%;
$w-75: 75%;
$w-50:50%;
$w-25: 25%;
$w-35: 35%;
$w-40: 40%;

$w80px: 80px;
$w40px: 40px;