@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Montserrat&display=swap');

$fontMain: 'Inter', sans-serif;

$textl: 1rem;







$textWeight1: 400;
$textWeight2: 700;