.pie{
	background-color: $mainColor-75;
	width: $w-100;
	box-sizing: border-box;
	text-align: center;
	margin-right: 0;
	padding-right: 0;
}

.pie_icon{
	width: $w40px;
	text-decoration: none
}

.socialMedia{
	text-decoration: none;
}
.link{text-decoration: none;}